//Toggle Menu
.menu-icon {
  position: relative;
  display: block;
  height: 15px;
  width: rem-calc(31);
  cursor: pointer;
  transition: all 0.3s;
  &__line {
    position: absolute;
    top: 50%;
    display: block;
    width: 31px;
    height: 2px;
    background-color: $color_1;
    border-radius: 3px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color_1;
      border-radius: 3px;
      transition: all 0.3s;
    }
    &:before {
      transform: translateY(-5px);
    }
    &:after {
      transform: translateY(5px);
    }
  }
  &--open {
    transform: translateX(-300px) rotate(45deg);
    @include  breakpoint(xs) {
      transform: translateX(-250px) rotate(45deg);
    }
    span {
      &:before,
      &:after {
        transform: rotate(90deg);
      }
    }
  }
}