.header {
  height: rem-calc(988);
  padding-top: rem-calc(43);
  background-color: $color_2;
  @include bg-img('img/layer-4.png');
  &__row {
    @include flex-grid-column(12, 15);
    @include flex-grid-row();
  }
  &__logo-wrap {
    @include flex-grid-column(6);
  }
  &__logo {
    transition: all .3s ease;
    display: inline-block;
    @include breakpoint(xs) {
      &--transform {
        transform: translateX(-43%) rotate(-90deg);
      }
    }
  }

  &__menu-icon {
    @include flex-grid-column(6);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 1;
  }
  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: lightblue;
    transform: translateX(300px);
    transition: all 0.3s;
    z-index: 1;
    @include breakpoint(xs) {
      width: 250px;
      transform: translateX(250px);
    }
    &--show {
      transform: translateX(0);
    }
    a {
      background-color: transparent;
    }
  }
  &__navigation {
    padding-top: 42px;
  }
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: rem-calc(190);
  }
  //&__container {
  //  min-height: 255px;
  //}
  &__title-wrap {
    position: relative;
    border: 10px solid #60606e;
    margin-bottom: 30px;
    &:before {
      content: 'we’re';
      position: absolute;
      background-color: #7beec7;
      padding: 6px 18px;
      color: #60606e;
      top: -49px;
      left: 42%;
      font-family: $title-font-family;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }

  }
  &__title {
    padding: 32px 45px;
    margin: 0;
    color: #60606e;
    font-family: $title-font-family;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
  }
  &__subtitle {
    width: rem-calc(661);
    margin-bottom: rem-calc(125);
    text-align: center;
    color: #60606e;
    font-family: $main-font-family;
    font-size: 16px;
    line-height: 24px;
  }
  &__itcrow {
    @include flex-col();
    &-imagewrap {
      @include flex-grid-column(5);
    }
    &-textwrap {
      @include flex-grid-column(7);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    &-textwrap--title {
      position: relative;
      color: #60606e;
      font-family: $title-font-family;
      font-size: 30px;
      font-weight: 700;
      margin: 0 0 20px;
      text-transform: uppercase;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        width: 67px;
        height: 21px;
        background-color: #7beec7;
        bottom: 2px;
        left: 0;
        z-index: -1;
      }
    }
    &-textwrap--description {
      width: rem-calc(541);
      color: #60606e;
      font-family: $main-font-family;
      font-size: 16px;
      line-height: 28px;
    }
  }
  &__btn {
    margin-left: 285px;
    background-color: #7beec7;
    color: #ffffff;
    font-family: $title-font-family;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 40px;
    text-transform: uppercase;
    cursor: pointer;
  }

}