@mixin flat-btn($bg-color) {
  display: block;
  min-width: 200px;
  height: 55px;
  font-family: $main-font-family;
  font-size: 20px;
  line-height: 55px;
  font-weight: 300;
  text-transform: uppercase;
  color: $white-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all .3s ease;
  text-align: center;
  background-color: $bg-color;
  text-decoration: none;
  &:hover {
    background-color: darken($bg-color, 15%);
  }
}
//Foundation Breakpoints
@mixin breakpoint($point) {
  /* Small only */
  @if $point == xs {
    @media screen and (max-width: 39.9375em) {
      @content;
    }
  }
    /* Medium and up */
  @else if $point == sm {
    @media screen and (min-width: 40em) {
      @content;
    }
  }
    /* Medium only */
  @else if $point == tb {
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      @content;
    }
  }
    /* Large and up */
  @else if $point == md {
    @media screen and (min-width: 64em) {
      @content;
    }
  }
    /* Large only */
  @else if $point == desktop {
    @media screen and (min-width: 64em) and (max-width: 74.9375em) {
      @content;
    }
  }
}

//Browsers prefixes
@mixin crossBrowser($property, $val) {
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}

//Background image 
@mixin bg-img($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin flex-col() {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: wrap;
}





